@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  #menu-toggle {
    display: none;
  }

  #nav-list {
    display: flex;
    gap: 15px;
  }

  #nav-list li a {
    border-bottom: none;
    padding: 0.5rem 1rem;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1.5fr 1fr;
    align-items: center;
  }

  main {
    padding: 0 1rem 1rem;
  }

  #hero img {
    height: 300px;
    object-fit: cover;
  }

  .home-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1rem;
  }

  #spotlight-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  .spotlight-card {
    margin-bottom: 0;
  }
}
